
.cost-model-status {
    text-align: center;
    padding: 20px;
}

.network-vis-container {
    display: block;
    height: 300px;
}

.connection-type-box {
    padding: 4px;
    text-align: center;
}

.connection-type-box:hover{
    border: 1px solid #59a9ff;
    cursor: pointer;
    color: #0075b0;
}

.ct-selected {
    color: #0075b0;
    border: 1px solid #59a9ff;
}

#selSpeed {
    text-align: center;
    margin-top: 30px;
    padding: 8px;
    font-weight: 600;
    border: 1px solid #0075b0;
}

#selSpeed .spLabel {
    font-size: large;
    color: #0075b0;
}

.analysis-strong-lbl {
    padding-top: 10px;
    padding-bottom: 10px;
}

.erro_msg{
    padding: 10px;
    width: 100%;
    margin: 10px;
}

.cost-div {
}

.analysis-input {
    border-right: 2px solid #202020;
}