
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">Case Analysis</li>
        </ol>
    </div>


    <div class="col-md-6">

        <div class="col-md-6">
            <div class="thumbnail connection-type-box" ng-click="selConnectionType('DSL')" ng-class="dslClass">
                <h1>DSL</h1>
                <p>Digital subscriber line</p>
            </div>

        </div>
        <div class="col-md-6">
            <div class="thumbnail connection-type-box" ng-click="selConnectionType('VPN')" ng-class="vpnClass">
                <h1>VPN</h1>
                <p>Virtual Private Network</p>
            </div>

        </div>


        <div class="col-md-12">
            <strong>Connection Speed</strong>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default active" ng-click="selSpeedClick('15M')" ng-class="sel15Class">15M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('25M')" ng-class="sel25Class">25M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('50M')" ng-class="sel50Class">50M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('100M')" ng-class="sel100Class">100M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('GE')" ng-class="selGEClass">GE</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('100GE')" ng-class="sel100GEClass">100GE</button>

            </div>


        </div>

        <div class="col-md-12">
            <div id="selSpeed">
                <p>Selected Options: </p>
                <p class="spLabel">{{typeLabel}} {{selSpeed}}</p>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        Cost Calculations
    </div>


</div>