
<div class="row">

    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">Case Analysis</li>
        </ol>
    </div>



    <div class="col-md-6 analysis-input">
        <div class="col-md-12">
            <div class="analysis-strong-lbl">
                <strong>Connection Type</strong>
            </div>
            <div class="col-md-5">
                <div class="thumbnail connection-type-box" ng-click="selConnectionType('DSL')" ng-class="dslClass">
                    <h1>DSL</h1>
                    <p>Digital subscriber line</p>
                </div>

            </div>
            <div class="col-md-5">
                <div class="thumbnail connection-type-box" ng-click="selConnectionType('VPN')" ng-class="vpnClass">
                    <h1>VPN</h1>
                    <p>Virtual Private Network</p>
                </div>

            </div>

        </div>



        <div class="col-md-12">
            <div class="analysis-strong-lbl">
                <strong>Connection Speed</strong>
            </div>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default active" ng-click="selSpeedClick('15M')" ng-class="sel15Class">15M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('25M')" ng-class="sel25Class">25M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('50M')" ng-class="sel50Class">50M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('100M')" ng-class="sel100Class">100M</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('1GE')" ng-class="selGEClass">1GE</button>
                <button type="button" class="btn btn-default" ng-click="selSpeedClick('100GE')" ng-class="sel100GEClass">100GE</button>

            </div>


        </div>

        <div class="col-md-12">
            <div class="analysis-strong-lbl">
                <strong>Select Edge Router Connections</strong>
            </div>
            <div class="erro_msg bg-danger" ng-show="showPEError()">
                Please select at least one PE router
            </div>
            <div class="btn-group">

                <button ng-repeat="cr in edgeRouters"
                        type="button" class="btn btn-default"
                        ng-click="peSel(cr.data().id)"
                        >
                    {{cr.data().id}}
                </button>
            </div>

        </div>

        <div class="col-md-12">
            <div id="selSpeed">
                <p>Selected Options: </p>
                <p class="spLabel">{{typeLabel}} {{selSpeed}} -
                    <span ng-repeat="pe in peSelected">
                        {{pe}}
                    </span>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="col-md-12 cost-div">
            <strong>Cost Calculations</strong>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Estimated Cost ($)</th>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                </tr>
                <tr>
                    <td>Jane</td>
                    <td>Doe</td>
                </tr>
            </table>
            <h3>Final Cost</h3> <h4 style="color:darkred">${{finalCost}}</h4>
        </div>

    </div>


</div>