
<div class="row">
    <div class="col-md-12">
        <!--<div class="alert col-md-4 cost-model-status" id="peStatus">PE Status</div>-->
        <!--<div class="alert col-md-4 cost-model-status" >P Status</div>-->
        <!--<div class="alert col-md-4 cost-model-status" >BX Status</div>-->

        <ol class="breadcrumb">
            <li><a href="#general-config">Configurations</a></li>
            <li class="active">Cost Model</li>
        </ol>

        <div class="col-md-12">
            <router-model-editor id="routerEditorP" title="PE" model="peCost"></router-model-editor>
        </div>

        <div class="col-md-12">
            <router-model-editor id="routerEditorPE" title="P" model="pCost"></router-model-editor>
        </div>

        <div class="col-md-12">
            <router-model-editor id="routerEditorPE" title="BX" model="bxCost"></router-model-editor>
        </div>


    </div>

</div>