
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#general-config">Configurations</a></li>
            <li class="active">Network Topology</li>
        </ol>
    </div>

    <div class="col-md-12">
        <!--<div id="config-network-vis" class="network-vis-container">-->
            <!--<network-vis container-id="config-network-vis"></network-vis>-->
        <!--</div>-->

        <network-vis id="config-network-vis"></network-vis>

    </div>

</div>